header {
    border-radius: 0 !important;
    -webkit-app-region: drag;
    min-height: 35px !important;
    padding: none;
}

body {
    border: solid 2px #003783;
    height: 100vh;
    width: 100vw;
    box-sizing: inherit;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/iconfont/MaterialIcons-Regular.woff2) format('woff2');
}

.top-bar {
    background-color: #003c8f;
    box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
    height: 35px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    line-height: 30px;    
}

.top-bar span {
    
}
.top-bar .top-btn {
    -webkit-app-region: none;
    user-select: none;
    display: block;
    float: right;
    font-family: 'Material Icons';
    text-align: center;     
    line-height: 30px;
    width: 30px;
    height: inherit;
    font-size: 150%;
    background-color: #003c8f;
    border: none;
    color: white !important;
}

.top-bar .top-btn:active {
    opacity: 0.8;
}

.top-bar .top-btn:hover {
    background-color: #1a4d94;
}

#close-btn.top-btn:hover {
    background-color: #f44336;
}

.navbar {
    margin-bottom: 10px !important;
}

.main-wrapper {
    height: calc(100vh - 80px);
    overflow: auto;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.card-header {
    padding: 5px !important;
    text-align: center;
}

.card-header ul {
    display: inline;
    float: left;
}
.card-header button {
    display: block;
    float: right;
    background-color: transparent;
    outline: none;
    border: none;
}

.graph {
    position: relative;
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;
}

.graph-amount-1 {
    width: 90%;
    height: 50vh;
}
.graph-amount-2 {
    width: 45%;
    height: 50vh;
}
.graph-amount-3 {
    width: 30%;
    height: 30vh;
}
.graph-amount-4 {
    width: 30%;
    height: 25vh;
}
.graph-amount-5 {
    width: 30%;
    height: 25vh;
}
.graph-amount-6 {
    width: 30%;
    height: 25vh;
}

.btn-icon {
    border: none;
    display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.46875rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
}

.form-check .form-check-input:checked+.form-check-sign .check {
    background-color: #4caf50 !important;
}

.form-check-label {
    font-size: 80%;
}

.controls {
    margin-bottom: 10px;
}

.controls .param-control {
    margin-left: 5px;
    margin-right: 15px;
    font-size: 140%;
    text-align: center;
    border-radius: 5px;
    height: 25px;
    width: 5% !important;
    border: solid 1px grey; 
}

.controls label {
    font-size: 120%;
}

.controls {
    display: grid;
    grid-template: 1fr / repeat(8, 1fr);
    grid-gap: 40px;
    width: 100%;
    overflow-x: auto;
}

.controls input {
    min-width: 40px;
    text-align: center;
}

.beautify-scrollbar::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.beautify-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
	background-color: #F5F5F5;
}

.beautify-scrollbar::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(168, 168, 168);
}

.form-control-span {
    position: absolute;
    top: 33px;
    right: 15px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
  }

  .seperator {
      border-bottom: solid 1px rgba(0, 0, 0, 0.12);
      margin-bottom: 10px; 
  }